<div class="container">
      <ul class="bar">
        <li>
            <h2>本日の予約</h2>
        </li>
        <li>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bookModal">
            予約登録
          </button>
        </li>
      </ul>
    <div class="main col-12">
      <%= render 'books', books: @books %>
    </div>
    <div class="sidebar col-12">
      <div id="calendar"></div>
    </div>
</div>

<!-- Modal -->
<div id="modal_book">
  <%= render partial: 'modal_book', locals: {book: @book} %>
</div>