<div class="container">
  <div class="row">
    <div class="sidebar col-4">
      <div id="calendar"></div>
    </div>
  <div class="main col-8">
    <div class="bar">
      <ul>
        <li>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bookModal">
            予約登録
          </button>
        </li>
      </ul>
    </div>
      <h2>本日の予約</h2>
      <%= render 'books', books: @books %>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="modal_book">
  <%= render partial: 'modal_book', locals: {book: @book} %>
</div>