<section class="info">
  <h1 class="info_title"><strong>CI-BANK</strong></h1>
  <p class="info_body">「CI-BANK」＝Customer Information-BANKの略です。<br>飲食店の予約・顧客管理台帳の作成を行います。<br>頭の中にある顧客情報や手書きノートなどでの予約管理を IT 化し蓄積することで、確実な記憶により効果的なサービスを提供することができます。<br>顧客機能では例えば、リピートで来店された顧客に対して、前回あった出来事などの話は顧客満足をあげることに効果的だと言えます。<br>そのために単に名前や電話番号などの情報を積み上げるだけでなく、顧客ごとの日記のように利用することも可能です。<br>予約管理機能ではアレルギーやサプライズイベントなどの重要事項を見逃すことのないよう<br>このように普段のサービス業務の手の届きにくい箇所をカバーできるサイトを目指しました。</p>
</section>