<div class="wrap">
  <section class="hero">
    <p><strong>予約・顧客管理を助ける</strong></p>
    <h1 class="top_title"><strong>ー・CI-BANK・ー</strong></h1>
  <a href="/about" class="btn-partial-line">
    <i class="fas fa-external-link-alt">  <strong>more information<br>here</strong></i>
</section>
</div>